<a href="https://colab.research.google.com/github/BAgarvit/Data-Analytics-Portfolio/blob/main/Python_practice_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print ("Hello world")

Hello world

In [ ]:
name = "Garvit"
age = 27
price = 25.99
print ("My name is", name)

My name is Garvit

In [ ]:
print (type(name))
print (type(age))
print (type(price))

<class 'str'>
<class 'int'>
<class 'float'>

In [ ]:
age = 27
old = False
a = None
print(type(old))
print(type(a))

<class 'bool'>
<class 'NoneType'>

In [ ]:
a = 2
b = 5
sum = a + b
print (sum)

7

In [ ]:
#comment

In [ ]:
#arthemeticoperator
a = 5
b = 2
print (a+b)
print (a-b)
print (a*b)
print (a/b)
print (a//b)
print (a%b)
print (a**b)

7
3
10
2.5
2
1
25

In [ ]:
#relational operators
a = 50
b = 20
print(a == b)
print(a != b)
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)

False
True
True
False
True
False

In [ ]:
 #assingment operators
 num = 10
 num = num + 10
 num += 10
print('num',num)

num 30

In [ ]:
#logical operators
a = 50
b = 30
print(not False)
print(not True)
print(True and False)
print(True or False)

True
False
False
True

In [ ]:
#type conversion
a = 2
b = 4.25
print (int(a + b))

6

In [ ]:
name = input("enter your name")
print("hello",name)

enter your namehi
hello hi

In [ ]:
name = input("enter your name")
age = int(input("enter your age"))
marks = float(input("enter your marks"))
print("name=",name)
print("age=",age)
print("marks=",marks)

enter your namegarvit
enter your age26
enter your marks100
name= garvit
age= 26
marks= 100.0

In [ ]:
number1 = int(input("enter first number"))
number2 = int(input("enter second number"))
sum = number1 + number2
print("sum=",sum)

enter first number4
enter second number4
sum= 8

In [ ]:
side=int(input("side"))
area=side*side
print("area=",area)

side3
area= 9

In [ ]:
#Strings
str1 = "This is a string.We did it"
str2 = 'This is a string.\t We did it' #tabspace
str3 = """This is a string.\n We did it""" #Next line
print(str1)
print(str2)
print(str3)

This is a string.We did it
This is a string.	 We did it
This is a string.
 We did it

In [ ]:
#Concatenation
str1 = "Hello"
str2 = "World"
str3 = str1 +" "+ str2
print(str3)
lenghth = len(str3)
print(lenghth)

Hello World
11

In [ ]:
#indexing
str = "Garvit"
print(str[3])

print(str[-1])#backword

v
t

In [ ]:
#Slicing
str = "Apple"
str[-3:-1]

'pl'

In [ ]:
#Stringfunction
str = "i am a coder"
str.endswith("er")
print(str.capitalize())
print(str.replace("o","a"))
print(str.find("o"))
print(str.count("am"))

I am a coder
i am a cader
8
1

In [ ]:
#Q- Write a program to input users first name and print its length
name = input("name")
print("length of name" , len(name))

name5
length of name 1

In [ ]:
#Q- Write a program to count number of $in the string
str = "Hi, $I am the best coder in $canada"
str.count("$")

2

In [ ]:
#Conditional Statements
#if
age = 15
if(age >= 18):
  print("can vote and apply for DL")
else:
  print("can't vote and apply for DL")

can't vote and apply for DL

In [ ]:
#elif
light = "yellow"

if(light == "green"):
  print("go")
elif(light == "yellow"):
  print("wait")
elif(light == "red"):
  print("stop")
else:
  print("wrong signal")

wait

In [ ]:
num = 4
if(num >=5):
  print("num is greater than 5")
else:
  print( "number is not greater")

number is not greater

In [ ]:
marks = 80
if(marks >= 90):
  grade = "A"
elif(marks >= 80):
  grade = "B"
elif(marks >= 70):
  grade = "C"
elif(marks >= 60):
  grade = "D"
else:
  grade = "F"
print(grade)

B

In [ ]:
a = input("enter first number")
b = input("enter second number")
c = input("enter third number")
d = input("enter fourth number")

if a>=b and a>=c and a>=d:
  print(a,"is largest")
elif b>=a and b>=c and c>=d:
  print(b,"is largest")
elif c>=a and c>=b and c>=d:
  print(c,"is largest")
else:
  print(d,"is largest")

enter first number7
enter second number6
enter third number5
enter fourth number4
7 is largest

In [ ]:
#list and tuples
marks = [94.5,93.6,97.1,92.1,97.4]
print(marks)
print(type(marks))
print(marks[3])

[94.5, 93.6, 97.1, 92.1, 97.4]
<class 'list'>
92.1

In [ ]:
student = ["Garvit",26,"Delhi"]